@font-face {
    font-family: 'Catamaran-ExtraBold';
    src: url('../fonts/static/Catamaran-ExtraBold.ttf');
}

@font-face {
    font-family: 'Catamaran-Bold';
    src: url('../fonts/static/Catamaran-Bold.ttf');
}

@font-face {
    font-family: 'Catamaran-Medium';
    src: url('../fonts/static/Catamaran-Medium.ttf');
}

@font-face {
    font-family: 'Catamaran-Light';
    src: url('../fonts/static/Catamaran-Light.ttf');
}

h1{
    font-family: 'Catamaran-ExtraBold';
    font-size: 26pt;
}

h2{
    font-family: 'Catamaran-Light';
    font-size: 16pt;
}

p{
    font-family: 'Catamaran-Light';
    font-size: 16pt;
    margin: 20px 60px;
    text-align: center;
    align-self: center;
}
.container{
    display: flex;
    flex-direction: column;
    width: 96vw;
    height: 100%;
    padding-left: 30pt;
    padding-right: 30pt;
    background-image: url('../img/bkg_1.jfif');
    background-size: cover;
    background-position: center;
}

button{
    color: white;
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Catamaran-Medium';
    background-color: #0a07b3 ;
    width: 100pt;
    align-self: center;
    transition: all .6s ease;
}

button:hover {
    transform: scale(1.05);
}