.landing-container{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* align-items: center; */
    justify-content: center;
}
.landing-container .section-1 h1{
    align-self: center;
    text-align: center;
    font-size: 35pt;
    width: 35%;
}

.landing-container .section-1 h2{
    align-self: center;
    text-align: center;
    font-size: 16pt;
    width: 50%;
}


.section-1{
    display: flex;
    flex-direction: column;
    margin-top: 40pt;
    height: 95vh;
    justify-content: center;
}

.section-2{
    display: flex;
    flex-direction: row;
    margin-top: 40pt;
    margin-left: -30pt;
    height: 70vh;
    width: 100vw;
    justify-content: space-around;
    /* background: url("../../assets/img/bkg_2.jpg"); */
    padding: 40pt;

}


.section-2 .section-2-description{
    width: 40vw;
}

.section-2 .section-2-description p{
    text-align: left;
    margin-left: 0pt;
}

.section-2 .section-2-description button{
    width: 350pt;
}

.section-3{
    display: flex;
    flex-direction: row;
    margin-top: 40pt;
    margin-left: -80pt;
    height: 70vh;
    width: 100vw;
    justify-content: space-around;
    /* background: url("../../assets/img/bkg_2.jpg"); */
    padding: 40pt;
}

.section-3 .section-3-description{
    display: flex;
    flex-direction: column;
    width: 35vw;
    align-items:flex-start;
}

.section-3 .section-3-description p{
    text-align: left;
    margin-left: 0pt;
}
.section-3 .image{
    width: 60vw;
    height: 395pt;
    margin-left: -130pt;
    background-image: url('../img/startup_pkg_img.png');
    background-size: cover;
}

