.nav-container{
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    width: 95vw;
    margin-left: -30pt;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding-left: 20pt;
    padding-right: 20pt;
}

.selections-container{
    display: flex;
    flex-direction: row;
    height: 40pt;
    width: 70%;
}

.selections-container h1{
    margin-right: 40pt;
}

.selections-container h2{
    margin-left: 15pt;
    margin-top: 25pt;
}

.selections-container h2:hover{
    margin-left: 15;
    color:#00BFFF;
}


.login-container{
    display: flex;
    flex-direction: row;
    height: 40pt;
    justify-content: center;
    margin-top: 25pt;
}

.login-container h2{
    margin-left: 30pt;
}

.login-container h2:hover{
    margin-left: 30pt;
    color: #FFA500;
}

.side-navbar-container{
    height: 100vh;
    width: 10vh;
    background-color: #025464;
    /* margin-left: -36pt;
    margin-top: -6pt; */
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.side-navbar-container .icon{
    height: 15pt;
    width: undefined;
    aspect-ratio: 1 / 1;
    margin-top: 20pt;
}

.side-navbar-container .icon-dashboard{
    height: 20px;
    aspect-ratio: 1 / 1;
    margin-top: 20pt;
    background: url('../img/dashboard.png');
    background-size: cover;
}

.side-navbar-container .bars-icon{
    height: 12pt;
    width: undefined;
    aspect-ratio: 1 / 1;
    margin-top: 20pt;
}


.side-navbar-container .icon:hover{
    height: 15pt;
    width: undefined;
    aspect-ratio: 1 / 1;
    margin-top: 20pt;
    box-shadow: 0px 1px #FFFFFF;
    border-radius: 5pt;
}
