.nav-container{
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    width: 95vw;
    margin-left: -30pt;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding-left: 20pt;
    padding-right: 20pt;
}

.selections-container{
    display: flex;
    flex-direction: row;
    height: 40pt;
    width: 70%;
}

.selections-container h1{
    margin-right: 40pt;
}

.selections-container h2{
    margin-left: 15pt;
    margin-top: 25pt;
}

.selections-container h2:hover{
    margin-left: 15;
    color:#00BFFF;
}


.login-container{
    display: flex;
    flex-direction: row;
    height: 40pt;
    justify-content: center;
    margin-top: 25pt;
}

.login-container h2{
    margin-left: 30pt;
}

.login-container h2:hover{
    margin-left: 30pt;
    color: #FFA500;
}

.side-navbar-container{
    height: 100vh;
    width: 15vh;
    background-color: #000000;
    margin-left: -36pt;
    margin-top: -6pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}